---
import BaseLayout from 'layouts/BaseLayout.astro';
---

<BaseLayout title="Articles">
  <body>
    <h1>Articles</h1>
    <p>Fetch articles from the server and display them here.</p>
  </body>
</BaseLayout>
