---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Yoann-86" />

    <meta
      name="description"
      content="Nila coiffure - Salon de coiffure à Montpellier, offrant des services de coiffure professionnels et personnalisés."
    />
    <meta name="keywords" content="Nila coiffure, coiffure à domicile, Montpellier" />
    <meta name="robots" content="index;follow" />

    <title>Nila coiffure | {title}</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/articles">Articles</a></li>
      </ul>
    </nav>
    <slot/>
    <footer>© 2025 - Nila coiffure</footer>
  </body>
</html>
